/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #2e2e2e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-menu {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

.sidebar-menu .btn {
    margin: 10px 0;
    border-radius: 5%;
    background-color: transparent;
        border: transparent;
}
.sidebar-menu .btn:hover {
   background-color: rgba(255, 255, 255, 0.26);
}

.btn{
   
    color: rgb(255, 255, 255);
}
.user-info h2 {
    color: white;
}

.sidebar-buttons .btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.sidebar-buttons .note {
     background-color: #42a5f5; 
    }

.twob{
    display: flex;         /* Enable flexbox */
    gap: 10px;   

}
.sidebar-buttons .task {
     background-color: #ab47bc;
     width: 150px;
     }


.sidebar-buttons .event { 
    background-color: #ffa726;
    width: 150px;
 }

.sidebar-menu5 {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Main Content Styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #222;
}

.main-content h2 {
    margin-bottom: 20px;
}

